$light-grey: #fafbfc;
$blue: #4786f1;
$purple: #8d378e;
$dark-grey: #24292e;


.utopian-container {
  height: auto;
  margin: auto;
  text-align: center;

  h1 {
    color: snow;
    font-style: italic;
  }

  hr {
    border-color: snow;
    background-color: snow;
    height: .5px;
  }
}


.utopian-items {
  width: 20em;
  height: 20em;
  margin: 1em;
  background-color: $dark-grey;
  display: inline-block;
  vertical-align: middle;
  color: snow;
  text-align: left;
  position: relative;

  a {
    text-decoration: none;
    //color: #f1c40f;
    color: $blue;
    font-weight: bolder;

    &:hover {
      color: $purple;
    }
  }


  p {
    margin: 1em;
  }



  .author {
    color: $light-grey;
    text-align: center;
    padding-bottom: 1em;
  }

  .votes {
    color: $light-grey;
    bottom: 0;
    left: auto;
    right: auto;
    position: absolute;
    text-align: center;
  }
}
