.utopian-container {
  background-color: #ecf0f1;
  height: auto;
  width: 90%;
  margin: auto;
  text-align: center; }

.utopian-items {
  width: 20em;
  height: 15em;
  margin: 1em;
  background-color: #3498db;
  display: inline-block;
  vertical-align: middle; }
  .utopian-items a {
    text-decoration: none;
    color: #f1c40f; }
