@import url("https://fonts.googleapis.com/css?family=Lato");
.utopian-container {
  height: auto;
  margin: auto;
  text-align: center; }
  .utopian-container h1 {
    color: snow;
    font-style: italic; }
  .utopian-container hr {
    border-color: snow;
    background-color: snow;
    height: .5px; }

.utopian-items {
  width: 20em;
  height: 20em;
  margin: 1em;
  background-color: #24292e;
  display: inline-block;
  vertical-align: middle;
  color: snow;
  text-align: left;
  position: relative; }
  .utopian-items a {
    text-decoration: none;
    color: #4786f1;
    font-weight: bolder; }
    .utopian-items a:hover {
      color: #8d378e; }
  .utopian-items p {
    margin: 1em; }
  .utopian-items .author {
    color: #fafbfc;
    text-align: center;
    padding-bottom: 1em; }
  .utopian-items .votes {
    color: #fafbfc;
    bottom: 0;
    left: auto;
    right: auto;
    position: absolute;
    text-align: center; }

body {
  background-image: linear-gradient(45deg, #3baee5, #a21879);
  font-family: 'Lato', sans-serif; }

.mui-appbar {
  background-color: #24292e;
  height: 5em;
  text-align: center;
  margin-bottom: 5em; }
  .mui-appbar .mui-btn {
    display: inline-block;
    margin: 1em; }

#logo {
  height: 200px;
  weight: 200px;
  display: block;
  margin: auto;
  padding: 4em; }

@media (max-width: 600px) {
  .mui-appbar {
    height: auto;
    padding: 2em;
    text-align: left; }
    .mui-appbar .mui-btn {
      display: block;
      margin-bottom: 1em;
      margin-top: 0;
      text-align: left;
      margin-left: auto;
      margin-right: auto; } }

@media only screen and (min-width: 320px) {
  .footer {
    background-color: #24292e;
    height: auto;
    color: snow;
    margin-top: 10em; }
    .footer p {
      font-size: 1.2em;
      width: 80%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      padding-top: 2em;
      padding-bottom: 2em; }
    .footer #logo {
      height: 50px;
      width: 50px;
      padding: 1em; }
  .utopian-items .votes {
    width: 100%;
    margin-left: 0;
    margin-right: 0; } }

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .footer p {
    width: 30%; } }

/* Large Devices, Wide Screens */
