@import url("https://fonts.googleapis.com/css?family=Lato");
.utopian-container {
  background-color: white;
  height: auto;
  width: 90%;
  margin: auto;
  text-align: center; }
  .utopian-container h1 {
    color: #8d378e;
    padding-top: 1em; }

.utopian-items {
  width: 20em;
  height: 15em;
  margin: 1em;
  background-color: #24292e;
  display: inline-block;
  vertical-align: middle;
  color: snow; }
  .utopian-items a {
    text-decoration: none;
    color: #4786f1;
    font-weight: bolder; }
    .utopian-items a:hover {
      color: #8d378e; }
  .utopian-items p {
    margin: 1em; }
  .utopian-items .author {
    color: #8d378e; }

body {
  background-color: #24292e;
  font-family: 'Lato', sans-serif; }
